name: Build and test the apps

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the app
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Running Project1 Tests
      run: dotnet test TestPoject1/TestProject1.csproj --no-build --verbosity normal
    - name: Running Project2 Tests
      run: dotnet test TestPoject2/TestProject2.csproj --no-build --verbosity normal
    - name: Running project3 Tests
      run: dotnet test TestPoject3/TestProject3.csproj --no-build --verbosity normal
